{l}block content{r}


{l}import ../defineBlock.latte{r}


{l}include #sortablemenu{r}


<div class="span8">
    <h1 class="page-header">{$name}</h1>
    {l}control form{r}

    <div class="well">
        {l}control file{r}
    </div>
</div><!--/span-->
