{block content}

<h1>Cache bola vymazaná</h1>
<script>


    var fixIsMainInProductParam = {plink :Admin:ImportManager:Homepage:fixIsMainInProductParam}
    var fixCategoryUrl = {plink :Admin:ImportManager:Homepage:fixCategoryUrl}
    var refreshProductRewriteLinks = {plink :Admin:ImportManager:Homepage:refreshProductRewriteLinks}

        $.get(fixIsMainInProductParam);
    $.get(fixCategoryUrl);
    $.get(refreshProductRewriteLinks);
</script>