{block title}{!_'Ďakujeme za nákup'} - {!_'REPRE - reklamné predmety'}{/block}

{block content}

<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
        <h1 class="section-title-inner"><span><i class="fa fa-paint-brush"> </i> {!_'Ďakujeme za nákup'}</span></h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
        <h4 class="caps"><a href="{plink Eshop:default}" title="{!_'Späť do obchodu'}"><i
                        class="fa fa-chevron-left"></i> {!_'Späť do obchodu'} </a></h4>
    </div>
</div> <!--/.row-->

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row userInfo alert alert-info">
            <h2>{!_'Vaša objednávka bola úspešne spracovaná.'}</h2>
            {!_'Potvrdenie o objednávke Vám bolo zaslané na e-mailovú adresu. Ďakujeme Vám za nákup!'}

        </div>
    </div>

</div> <!--/row-->