#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:
    baseUri: ''
    companyName = abcvyskoveprace
    mailer:
        from: info@verticallimit.sk
        to: info@verticallimit.sk
        bcc: info@verticallimit.sk

    smtp:
        host: smtp.websupport.sk
        login: info@verticallimit.sk
        password: oxXTpYfPON

    webimages:
        uploadDir: %wwwDir%/uploaded/system_files/original
        uploadUrl: %baseUri%/uploaded/system_files/original
        tempDir: %wwwDir%/img
        tempUrl: https://www.abcvyskoveprace.sk/img
        hash: *

    DELIVERY_TAX: 20

    formats:
        sk:
            currency: €

php:
    date.timezone: Europe/Prague

application:
    errorPresenter: Front:Error
#    catchExceptions: true
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    autoStart: true
    expiration: 30 days
#    saveHandler: files
    savePath: "%tempDir%/sessions"

extensions:
    visualPaginator: IPub\VisualPaginator\DI\VisualPaginatorExtension
    cart: Oaki\Cart\DI\Extension