<div class="row">
    <div class="breadcrumbDiv col-lg-12">
        <ul class="breadcrumb">
            <li><a href="{plink :Front:Homepage:default}" title="{_'Úvod'}">{_'Úvod'}</a></li>
            <li n:foreach="$links as $link" class="{if $iterator->isLast()}active{/if}">
                <a href="{$link['url']}" title="{$link['name']}">{$link['name']}</a>
            </li>
        </ul>
    </div>
</div>