<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <h3> Podpora </h3>
                    <ul>
                        <li class="supportLi">
                            <h4><a class="inline" href="callto:+4210240209000"> <strong> <i class="fa fa-phone"> </i>
                                        +421 123 123 123 </strong> </a></h4>
                            <h4><a class="inline" href="mailto:info@zoochovatelskepotreby.sk"
                                   title="info@zoochovatelskepotreby.sk"> <i class="fa fa-envelope-o"> </i>
                                    info@zoochovatelskepotreby.sk </a></h4>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Obchod </h3>
                    <ul>
                        <li><a href="{plink Eshop:default}"> Online Shop </a></li>
                        <li><a href="{plink Homepage:default}"> Úvod </a></li>
                        <li><a href="{plink Eshop:default}"> Kategórie </a></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Informácie </h3>
                    <ul>
                        <li><a href="{plink Article:default id=>153}"> Všeobecné obchodné podmienky </a></li>
                        <li><a href="{plink Article:default id=>152}"> Služby </a></li>
                        <li><a href="{plink Article:default id=>155}"> Cenník služieb </a></li>

                        <li><a href="{plink Article:default id=>154}"> Dodanie tovaru </a></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Môj účet </h3>
                    <ul>
                        <li n:if="$user->isLoggedIn()">
                            <a href="{plink :Front:Profile:edit}" title="Úprava profilu">
                                <span class="hidden-sm">Úprava profilu</span>
                                <i class="fa fa-user hide visible-xs "></i>
                            </a>
                        </li>

                        <li n:if="$user->isLoggedIn()">
                            <a href="{plink :Front:Profile:orderList}" title="Objednávky">
                                <span class="hidden-sm">Objednávky</span>
                                <i class="fa fa-user hide visible-xs "></i>
                            </a>
                        </li>

                        <li n:if="!$user->isLoggedIn()">
                            <a href="#" data-toggle="modal" data-target="#ModalLogin" title="Prihlásenie">
                                <i class="fa fa-sign-in"></i>
                                <span class="hidden-sm"> Prihlásenie</span>
                            </a>
                        </li>

                        <li n:if="!$user->isLoggedIn()">
                            <a href="{plink :Front:Registration:default}" title="Registrácia">
                                <i class="fa fa-user-plus"></i>
                                <span class="hidden-sm"> Registrácia</span>
                            </a>
                        </li>
                    </ul>
                </div>
                {*<div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">*}
                {*<h3> Novinky </h3>*}
                {*<ul>*}
                {*<li>*}
                {*<div class="input-append newsLatterBox text-center">*}
                {*<input type="text" class="full text-center"  placeholder="Email ">*}
                {*<button class="btn  bg-gray" type="button"> Prihlásiť sa na odber noviniek <i class="fa fa-long-arrow-right"> </i> </button>*}
                {*</div>*}
                {*</li>*}
                {*</ul>*}
                {*</div>*}
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> &copy; Aquacity slovakia s.r.o. Všetky práva vyhradené. </p>
        </div>
    </div>
</footer>

{*<footer id="colophon" class="  footer_back_repeat_no  ">*}
{*<div id="footer-widget-area" class="row">*}


{*<!-- #first .widget-area -->*}

{*<div id="second" class="widget-area col-md-4">*}
{*<ul class="xoxo">*}
{*<li id="recent-posts-3" class="widget-container widget_recent_entries"><h3*}
{*class="widget-title-footer">Novinky</h3>*}
{*<ul>*}
{*<li>*}
{*<a href="{$basePath}/what-guests-want-to-know/">Ako dalej</a>*}
{*</li>*}
{*<li>*}
{*<a href="{$basePath}/how-to-be-a-great-host/">How to be a Great Host for Renters</a>*}
{*</li>*}
{*<li>*}
{*<a href="{$basePath}/offering-a-welcoming-space/">Offering a Full Welcoming*}
{*Space</a>*}
{*</li>*}
{*<li>*}
{*<a href="{$basePath}/best-beaches-for-an-autumn-vacation/">Best Beaches For An*}
{*Autumn Vacation</a>*}
{*</li>*}
{*<li>*}
{*<a href="{$basePath}/10-best-september-vacations/">10 Best September Vacations</a>*}
{*</li>*}
{*<li>*}
{*<a href="{$basePath}/5-best-budget-vacations/">5 Best Budget Vacations</a>*}
{*</li>*}
{*</ul>*}
{*</li>*}

{*</ul>*}
{*</div>*}
{*<!-- #second .widget-area -->*}

{*<div id="third" class="widget-area col-md-4">*}
{*<ul class="xoxo">*}
{*<li id="wpestate_contact_widget-2" class="widget-container contact_sidebar"><h3*}
{*class="widget-title-footer">Kontakt</h3>*}

{*<div class="contact_sidebar_wrap"><p class="widget_contact_addr"><i*}
{*class="fa fa-building-o"></i>Ligoin s.r.o.</p>*}

{*<p class="widget_contact_phone"><i class="fa fa-phone"></i><a*}
{*href="tel:%28305%29+555-4446">(305) 555-4446</a></p>*}

{*<p class="widget_contact_email"><i class="fa fa-envelope-o"></i><a*}
{*href="mailto:email@yourdomain.com">hello@ligoin.com</a></p>*}

{*</div>*}
{*</li>*}
{*<li id="wpestate_social_widget-2" class="widget-container social_sidebar"><h3*}
{*class="widget-title-footer">Pripoj sa k nám:</h3>*}

{*<div class="social_sidebar_internal"><a href="#" target="_blank"><i*}
{*class="fa fa-rss  fa-fw"></i></a><a href="#" target="_blank"><i*}
{*class="fa fa-facebook  fa-fw"></i></a><a href="#" target="_blank"><i*}
{*class="fa fa-twitter  fa-fw"></i></a><a href="#" target="_blank"><i*}
{*class="fa fa-google-plus  fa-fw"></i></a><a href="#" target="_blank"><i*}
{*class="fa fa-linkedin  fa-fw"></i></a><a href="#" target="_blank"><i*}
{*class="fa fa-tumblr  fa-fw"></i></a></div>*}
{*</li>*}
{*</ul>*}
{*</div>*}
{*<!-- #third .widget-area -->*}
{*</div>*}
{*<!-- #footer-widget-area -->*}

{*<div class="sub_footer">*}
{*<div class="sub_footer_content">*}
{*<span class="copyright">*}
{*Copyright 2016 | Ligoin. All Rights Reserved.            </span>*}

{*<div class="subfooter_menu">*}
{*<div class="menu-footer-menu-container">*}
{*<ul id="menu-footer-menu" class="menu">*}
{*<li id="menu-item-884"*}
{*class="menu-item menu-item-type-post_type menu-item-object-page menu-item-884"><a*}
{*href="{$basePath}/terms-and-conditions/">Obchodné podmienky</a></li>*}
{*<li id="menu-item-885"*}
{*class="menu-item menu-item-type-post_type menu-item-object-page menu-item-885"><a*}
{*href="{$basePath}/contact/">Kontakt</a></li>*}
{*<li><a href="{plink :Admin:Homepage:default}">Backend</a></li>*}
{*</ul>*}
{*</div>*}
{*</div>*}
{*</div>*}
{*</div>*}
{*</footer>*}