<!doctype html>
<html lang="sk-SK">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <title>{block title}Výškové práce, Horolezecké práce{/block}</title>

    <link rel="canonical" href="{plink //this}"/>
    <meta property="og:locale" content="sk_SK"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{include title}"/>
    <meta property="og:url" content="{plink //this}"/>
    <meta property="og:site_name" content="{block description}{/block}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{include title}"/>

    <link rel="apple-touch-icon" sizes="57x57" href="https://www.abcvyskoveprace.sk/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://www.abcvyskoveprace.sk/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.abcvyskoveprace.sk/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://www.abcvyskoveprace.sk/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.abcvyskoveprace.sk/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://www.abcvyskoveprace.sk/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://www.abcvyskoveprace.sk/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://www.abcvyskoveprace.sk/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.abcvyskoveprace.sk/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://www.abcvyskoveprace.sk/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.abcvyskoveprace.sk/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://www.abcvyskoveprace.sk/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.abcvyskoveprace.sk/assets/favicon/favicon-16x16.png">

    <link rel="manifest" href="https://www.abcvyskoveprace.sk/assets/favicon/manifest.json">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- / Yoast SEO plugin. -->

    <link rel='dns-prefetch' href='https://maps.googleapis.com'/>
    <link rel='dns-prefetch' href='https://fonts.googleapis.com'/>

    <link rel='stylesheet' id='ot-google-fonts-css'
          href='https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&#038;subset=latin,latin-ext,vietnamese,greek,cyrillic-ext,greek-ext,cyrillic'
          type='text/css' media='all'/>


    {*<link rel='stylesheet' href='/assets/frontend/css/main.css' type='text/css' media='all'/>*}
    {if $presenter->getParameter('loadMainCss') == 1}
        <link rel='stylesheet' href='https://www.abcvyskoveprace.sk/assets/frontend/css/main.css?v=1.8' type='text/css' media='all'/>
    {else}
        <link rel='stylesheet' href='https://www.abcvyskoveprace.sk/assets/frontend/css/main.min.css?v=1.8' type='text/css' media='all'/>
    {/if}

    <script type='text/javascript' src='https://www.abcvyskoveprace.sk/assets/frontend/js/jquery_themepunch.js'></script>

    <link rel='shortlink' href='https://www.abcvyskoveprace.sk/'/>

    <script n:syntax="off">
        (function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-38744304-4', 'auto');
        ga('send', 'pageview');
    </script>

    <style>

        .st_1494881861:after
        {
            background-color : rgba(0, 47, 94, 0.74) !important
        }

        .st_1494881862:after
        {
            background-color : rgba(255, 182, 0, 0.75) !important
        }

        .st_1494881863:after
        {
            background-color : rgba(0, 47, 94, 0.74) !important
        }

        .st_1494881864
        {
            color : #ffffff !important
        }

        .st_1494881865:after
        {
            background : #3b5998 none repeat scroll 0 0 !important
        }

        .st_1494881866:after
        {
            background : #01a2de none repeat scroll 0 0 !important
        }

        .st_1494881867:after
        {
            background : #ea4c89 none repeat scroll 0 0 !important
        }

        .st_1494881868:after
        {
            background : #517fa4 none repeat scroll 0 0 !important
        }

        .st_1494881869:after
        {
            background : #4ebbff none repeat scroll 0 0 !important
        }

        .vc_custom_1473144046635
        {
            padding-top      : 50px !important;
            background-color : #121416 !important;
        }

        .vc_custom_1473144617026
        {
            background-color : #0a0a0b !important;
        }

        .vc_custom_1473144888797
        {
            padding-top : 0px !important;
        }

        .vc_custom_1473144780945
        {
            margin-bottom : 0px !important;
        }
    </style>
</head>