<div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true"
     class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">

                        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
                             style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                            <!-- START REVOLUTION SLIDER 5.2.5.4 auto mode -->
                            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;"
                                 data-version="5.2.5.4">
                                <ul>    <!-- SLIDE  -->
                                    <li data-index="rs-1" data-transition="fade,slotzoom-horizontal"
                                        data-slotamount="default,default" data-hideafterloop="0"
                                        data-hideslideonmobile="off" data-easein="default,default"
                                        data-easeout="default,default" data-masterspeed="300,default"
                                        data-thumb="{['src'=>'banner2','ext'=>'jpg']|img:default:100:50:5}"
                                        data-rotate="0,0"
                                        data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
                                        data-param8="" data-param9="" data-param10="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="{['src'=>'banner2','ext'=>'jpg']|img:default:1600:680:5}"
                                             alt="Výškové práce"
                                             title="Výškové práce" width="1600" height="680"
                                             data-bgposition="center center" data-bgfit="cover"
                                             data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption   tp-resizeme"
                                             id="slide-1-layer-1"
                                             data-x="center" data-hoffset=""
                                             data-y="226"
                                             data-width="['auto']"
                                             data-height="['auto']"
                                             data-transform_idle="o:1;"

                                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
                                             data-transform_out="y:[-100%];s:800;"
                                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                             data-start="500"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on"


                                             style="z-index: 5; white-space: nowrap; font-size: 50px; line-height: 50px; font-weight: 900; color: rgba(17, 17, 17, 1.00);font-family:Roboto;text-align:center;">
                                            Špecializované práce vo výškach
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption   tp-resizeme"
                                             id="slide-1-layer-2"
                                             data-x="center" data-hoffset=""
                                             data-y="center" data-voffset="-30"
                                             data-width="['603']"
                                             data-height="['auto']"
                                             data-transform_idle="o:1;"

                                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
                                             data-transform_out="y:[-100%];s:800;"
                                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                             data-start="500"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on"


                                             style="z-index: 6; min-width: 603px; max-width: 603px; white-space: normal; font-size: 18px; line-height: 18px; font-weight: 400; color: rgba(17, 17, 17, 1.00);font-family:Roboto;text-align:center;">
                                            na ťažko dostupných miestach pomocou horolezeckej techniky
                                        </div>

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption   tp-resizeme"
                                             id="slide-1-layer-5"
                                             data-x="653"
                                             data-y="366"
                                             data-width="['auto']"
                                             data-height="['auto']"
                                             data-transform_idle="o:1;"

                                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
                                             data-transform_out="y:[-100%];s:800;"
                                             data-mask_in="x:0px;y:0px;"
                                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                             data-start="500"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on"


                                             style="z-index: 7; white-space: nowrap; font-size: 22px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Roboto Condensed;">
                                            <a href="{plink :Front:Article:default id=>4}"
                                               class="border-radius btn-dark button-black">Viac</a></div>

                                        <!-- LAYER NR. 4 -->
                                        <div class="tp-caption   tp-resizeme"
                                             id="slide-1-layer-7"
                                             data-x="491"
                                             data-y="367"
                                             data-width="['auto']"
                                             data-height="['auto']"
                                             data-transform_idle="o:1;"

                                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
                                             data-transform_out="y:[-100%];s:800;"
                                             data-mask_in="x:0px;y:0px;"
                                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                             data-start="500"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on"


                                             style="z-index: 8; white-space: nowrap; font-size: 22px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Roboto Condensed;">
                                            <a href="{plink :Front:Article:default id=>3}"
                                               class="btn-light border-radius button-black">Referencie</a></div>
                                    </li>
                                    <!-- SLIDE  -->
                                    <li data-index="rs-3" data-transition="fade,slotzoom-horizontal"
                                        data-slotamount="default,default" data-hideafterloop="0"
                                        data-hideslideonmobile="off" data-easein="default,default"
                                        data-easeout="default,default" data-masterspeed="300,default"
                                        data-thumb="{['src'=>'20160708-151033-2','ext'=>'jpg']|img:default:100:50:5}"
                                        data-rotate="0,0"
                                        data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
                                        data-param8="" data-param9="" data-param10="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="{['src'=>'20160708-151033-2','ext'=>'jpg']|img:default:1600:680:5}"
                                             alt=""
                                             title="20160708_151033" width="1600" height="680"
                                             data-bgposition="center center" data-bgfit="cover"
                                             data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption   tp-resizeme"
                                             id="slide-3-layer-1"
                                             data-x="center" data-hoffset=""
                                             data-y="226"
                                             data-width="['auto']"
                                             data-height="['auto']"
                                             data-transform_idle="o:1;"

                                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
                                             data-transform_out="y:[-100%];s:800;"
                                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                             data-start="500"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on"


                                             style="z-index: 5; white-space: nowrap; font-size: 50px; line-height: 50px; font-weight: 900; color: rgba(17, 17, 17, 1.00);font-family:Roboto;text-align:center;">
                                            Realizácia i hydroizolácie plochých striech
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption   tp-resizeme"
                                             id="slide-3-layer-2"
                                             data-x="center" data-hoffset=""
                                             data-y="center" data-voffset="-30"
                                             data-width="['603']"
                                             data-height="['auto']"
                                             data-transform_idle="o:1;"

                                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
                                             data-transform_out="y:[-100%];s:800;"
                                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                             data-start="500"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on"


                                             style="z-index: 6; min-width: 603px; max-width: 603px; white-space: normal; font-size: 18px; line-height: 18px; font-weight: 400; color: rgba(17, 17, 17, 1.00);font-family:Roboto;text-align:center;">
                                            Komplexné služby pri realizácii a rekonštrukcii Vašich plochých striech
                                        </div>

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption   tp-resizeme"
                                             id="slide-3-layer-5"
                                             data-x="653"
                                             data-y="366"
                                             data-width="['auto']"
                                             data-height="['auto']"
                                             data-transform_idle="o:1;"

                                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
                                             data-transform_out="y:[-100%];s:800;"
                                             data-mask_in="x:0px;y:0px;"
                                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                             data-start="500"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on"


                                             style="z-index: 7; white-space: nowrap; font-size: 22px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Roboto Condensed;">
                                            <a href="{plink :Front:Article:default id=>5}"
                                               class="border-radius btn-dark button-black">Viac</a></div>

                                        <div class="tp-caption   tp-resizeme"
                                             id="slide-1-layer-7"
                                             data-x="491"
                                             data-y="367"
                                             data-width="['auto']"
                                             data-height="['auto']"
                                             data-transform_idle="o:1;"

                                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
                                             data-transform_out="y:[-100%];s:800;"
                                             data-mask_in="x:0px;y:0px;"
                                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                             data-start="500"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on"


                                             style="z-index: 8; white-space: nowrap; font-size: 22px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Roboto Condensed;">
                                            <a href="{plink :Front:Article:default id=>3}"
                                               class="btn-light border-radius button-black">Referencie</a></div>
                                    </li>
                                    <!-- SLIDE  -->
                                    <li data-index="rs-4" data-transition="fade,slotzoom-horizontal"
                                        data-slotamount="default,default" data-hideafterloop="0"
                                        data-hideslideonmobile="off" data-easein="default,default"
                                        data-easeout="default,default" data-masterspeed="300,default"
                                        data-thumb="{['src'=>'sdc10073','ext'=>'jpg']|img:default:100:50:5}"
                                        data-rotate="0,0"
                                        data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
                                        data-param8="" data-param9="" data-param10="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="{['src'=>'sdc10073','ext'=>'jpg']|img:default:1600:680:5}" alt=""
                                             title="SDC10073"
                                             width="1600" height="680" data-bgposition="center center"
                                             data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"
                                             data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption   tp-resizeme"
                                             id="slide-4-layer-1"
                                             data-x="center" data-hoffset="3"
                                             data-y="166"
                                             data-width="['auto']"
                                             data-height="['auto']"
                                             data-transform_idle="o:1;"

                                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
                                             data-transform_out="y:[-100%];s:800;"
                                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                             data-start="500"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on"


                                             style="z-index: 5; white-space: nowrap; font-size: 50px; line-height: 50px; font-weight: 900; color: rgba(17, 17, 17, 1.00);font-family:Roboto;text-align:center;">
                                            Zateplovanie budov
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption   tp-resizeme"
                                             id="slide-4-layer-2"
                                             data-x="center" data-hoffset="94"
                                             data-y="center" data-voffset="-111"
                                             data-width="['603']"
                                             data-height="['auto']"
                                             data-transform_idle="o:1;"

                                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
                                             data-transform_out="y:[-100%];s:800;"
                                             data-mask_in="x:0px;y:0px;"
                                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                             data-start="500"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on"


                                             style="z-index: 6; min-width: 603px; max-width: 603px; white-space: normal; font-size: 18px; line-height: 18px; font-weight: 400; color: rgba(17, 17, 17, 1.00);font-family:Roboto;text-align:center;">
                                            Komplexné služby zateplovania
                                        </div>

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption   tp-resizeme"
                                             id="slide-4-layer-5"
                                             data-x="653"
                                             data-y="366"
                                             data-width="['auto']"
                                             data-height="['auto']"
                                             data-transform_idle="o:1;"

                                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
                                             data-transform_out="y:[-100%];s:800;"
                                             data-mask_in="x:0px;y:0px;"
                                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                             data-start="500"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on"


                                             style="z-index: 7; white-space: nowrap; font-size: 22px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Roboto Condensed;">
                                            <a href="{plink :Front:Article:default id=>7}"
                                               class="border-radius btn-dark button-black">Viac</a></div>

                                        <div class="tp-caption   tp-resizeme"
                                             id="slide-1-layer-7"
                                             data-x="491"
                                             data-y="367"
                                             data-width="['auto']"
                                             data-height="['auto']"
                                             data-transform_idle="o:1;"

                                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
                                             data-transform_out="y:[-100%];s:800;"
                                             data-mask_in="x:0px;y:0px;"
                                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                             data-start="500"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on"


                                             style="z-index: 8; white-space: nowrap; font-size: 22px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Roboto Condensed;">
                                            <a href="{plink :Front:Article:default id=>3}"
                                               class="btn-light border-radius button-black">Referencie</a></div>
                                    </li>
                                </ul>
                                <script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
                                    var htmlDivCss = "";
                                    if (htmlDiv) {
                                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                                    } else {
                                        var htmlDiv = document.createElement("div");
                                        htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                                        document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                                    }
                                </script>
                                <div class="tp-bannertimer"
                                     style="height: 5px; background-color: rgba(5, 0, 0, 0.20);"></div>
                            </div>
                            <script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
                                var htmlDivCss = "";
                                if (htmlDiv) {
                                    htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                                } else {
                                    var htmlDiv = document.createElement("div");
                                    htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                                    document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                                }
                            </script>

                            <script type="text/javascript" n:syntax="off">
                                /******************************************
                                 -    PREPARE PLACEHOLDER FOR SLIDER    -
                                 ******************************************/

                                var setREVStartSize = function() {
                                    try {
                                        var e = new Object, i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                                        e.c = jQuery('#rev_slider_1_1');
                                        e.gridwidth = [1240];
                                        e.gridheight = [676];

                                        e.sliderLayout = "auto";
                                        if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function(e, f) {
                                                f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                                            }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                                            var u = (e.c.width(), jQuery(window).height());
                                            if (void 0 != e.fullScreenOffsetContainer) {
                                                var c = e.fullScreenOffsetContainer.split(",");
                                                if (c) jQuery.each(c, function(e, i) {
                                                    u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                                                }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                                            }
                                            f = u
                                        } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                                        e.c.closest(".rev_slider_wrapper").css({height : f})

                                    } catch (d) {
                                        console.log("Failure at Presize of Slider:" + d)
                                    }
                                };

                                setREVStartSize();

                                var tpj = jQuery;

                                var revapi1;
                                tpj(document).ready(function() {
                                    if (tpj("#rev_slider_1_1").revolution == undefined) {
                                        revslider_showDoubleJqueryError("#rev_slider_1_1");
                                    } else {
                                        revapi1 = tpj("#rev_slider_1_1").show().revolution({
                                            sliderType             : "standard",
                                            jsFileLocation         : "/assets/frontend/js/",
                                            sliderLayout           : "auto",
                                            dottedOverlay          : "none",
                                            delay                  : 9000,
                                            navigation             : {
                                                keyboardNavigation    : "off",
                                                keyboard_direction    : "horizontal",
                                                mouseScrollNavigation : "off",
                                                mouseScrollReverse    : "default",
                                                onHoverStop           : "off",
                                                touch                 : {
                                                    touchenabled        : "on",
                                                    swipe_threshold     : 75,
                                                    swipe_min_touches   : 1,
                                                    swipe_direction     : "horizontal",
                                                    drag_block_vertical : false
                                                }
                                                ,
                                                arrows                : {
                                                    style         : "gyges",
                                                    enable        : true,
                                                    hide_onmobile : false,
                                                    hide_onleave  : false,
                                                    tmp           : '',
                                                    left          : {
                                                        h_align  : "left",
                                                        v_align  : "center",
                                                        h_offset : 20,
                                                        v_offset : 0
                                                    },
                                                    right         : {
                                                        h_align  : "right",
                                                        v_align  : "center",
                                                        h_offset : 20,
                                                        v_offset : 0
                                                    }
                                                }
                                            },
                                            visibilityLevels       : [1240, 1024, 778, 480],
                                            gridwidth              : 1240,
                                            gridheight             : 676,
                                            lazyType               : "none",
                                            shadow                 : 0,
                                            spinner                : "spinner0",
                                            stopLoop               : "off",
                                            stopAfterLoops         : -1,
                                            stopAtSlide            : -1,
                                            shuffle                : "off",
                                            autoHeight             : "off",
                                            hideThumbsOnMobile     : "off",
                                            hideSliderAtLimit      : 0,
                                            hideCaptionAtLimit     : 0,
                                            hideAllCaptionAtLilmit : 0,
                                            debugMode              : false,
                                            fallbacks              : {
                                                simplifyAll            : "off",
                                                nextSlideOnWindowFocus : "off",
                                                disableFocusListener   : false,
                                            }
                                        });
                                    }
                                });
                                /*ready*/
                            </script>

                        </div><!-- END REVOLUTION SLIDER -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>
