{block content}


{import ../defineBlock.latte}


{include #sortablemenu}


<div class="span8">
    <h1 class="page-header">Prezentácia</h1>
    {control form}

    <div class="well">
        {control file}
    </div>
</div><!--/span-->
