{block #content}

<a href="{link default}" class="btn" style="font-weight:normal;"><i class="icon-arrow-left"></i> späť</a>
<h1 class="page-header">Editácia galérie "{$info->name}"</h1>


{control file}

