{block content}


{import ../defineBlock.latte}


{include #sortablemenu}

<div class="span8">
    <h1 class="page-header">Pridať novú podstránku</h1>

    {control addPageForm}
</div>
{include 'define-jscripts.latte'}

