{block content}


{import ../defineBlock.latte}


{include #sortablemenu}

<div class="span8">
    <h1 class="page-header">Editácia podstránky</h1>

    {control editPageForm}
</div>


{include 'define-jscripts.latte'}