{block #content}

<div class="span12">

    <div class="container-fluid">

        <h1 class="page-header">
            <div class="btn-group pull-right ">
                <a class="btn btn-success" href="{plink add}">Pridať</a>
            </div>
            Zoznam použivateľov
        </h1>
        {control simpleGrid}
    </div>
</div>