{block content}

<div class="span6">

    <div class="container-fluid">
        <a style="font-weight:normal;" class="btn" href="{plink default id=>null}"><i class="icon-arrow-left"></i> späť</a>
        <h1 class="page-header">
            Editácia
        </h1>
        {control editUserForm}

    </div>
</div>

<div class="span6">
    <div class="container-fluid">
        <a style="font-weight:normal;" class="btn" href="{plink default id=>null}"><i class="icon-arrow-left"></i> späť</a>
        <h1 class="page-header">
            Foto
        </h1>
        <div class="well">{control file}</div>
    </div>
</div>