{block #content}


<div class="span12">

    <div class="container-fluid">

        <h2 class="page-header">
            <div class="btn-group pull-right ">
                <a class="btn btn-success" href="{plink add}">Pridať</a>
            </div>
            Zoznam značiek
        </h2>

        {control simpleGrid}
    </div>
</div>