{block #content}


<div class="span6">

    <div class="container-fluid">
        <a style="font-weight:normal;" class="btn" href="{plink default id=>null}"><i class="icon-arrow-left"></i> späť</a>
        <h1 class="page-header">
            Značka
        </h1>

        {control productMarkForm}

    </div>
</div>


<div class="span6">


    <div class="container-fluid">
        <a style="font-weight:normal;" class="btn" href="{plink default id=>null}"><i class="icon-arrow-left"></i> späť</a>
        <h2 class="page-header">
            Fotka
        </h2>
        {control file}
    </div>

</div>
