{block #content}

<h1 class="page-header">Import Manager</h1>
<div class="">
    <a class="btn" href="{plink savePlacekXml}">Uloz Placek XML na server</a> |
    <a class="btn" href="{plink parse}">Parsuj XML do nasej pomocnej tabulky "import_placek" </a> |
    {*<a class="btn" href="{plink createCategoryTree}">Urob z import_placek strom kategorii</a> |*}
    <a class="btn" href="{plink importProducts}">Naimportuj Placek produkty</a> |
    <a class="btn" href="{plink newProducts}">Zobraz nove produkty</a> |

    <a class="btn" href="{plink updatePlacekPriceStock}">Import Cena/Sklad Placek</a> |

    <a class="btn" href="{plink fixIsMainInProductParam}">Zisti hlavny produkt z podproduktov</a> |
    <a class="btn" href="{plink fixCategoryUrl}">Oprav category URL</a> |
    <a class="btn" href="{plink refreshProductRewriteLinks}">Oprav produkt URL</a> |

    <a class="btn" href="{plink repairProductRewriteFromTitle}">Oprav produkt URL podla Názvu</a> |
    <a class="btn" href="{plink repairCategoryRewriteFromTitle}">Oprav kategorie URL podla Názvu</a> |
</div>

<div class="">
    <div class="span12">
        <h1 class="page-header">Prepisanie textov z CSV - prepise priamo texty v produkte</h1>
        {control formImportFromText}
    </div>
</div>
