{block #content}
<h1>Zobrazenie nových produktov ({? echo count($newProducts)})</h1>

<table>
    <tr n:foreach="$newProducts as $l">
        <td>{$l['Kod']}</td>
    </tr>
</table>


<h1>Zobrazenie produktov na vymazanie ({? echo count($deleteProducts)})</h1>
<a href="{plink deleteOldProducts}" class="btn btn-danger">Vymazať staré produkty</a>

<table>
    <tr n:foreach="$deleteProducts as $l">
        <td>{$l['code']}</td>
    </tr>
</table>