{block #content}


<div class="span6">

    <div class="container-fluid">
        <a style="font-weight:normal;" class="btn" href="{plink default id=>null}"><i class="icon-arrow-left"></i> späť</a>
        <h1 class="page-header">
            Formulár
        </h1>

        <script>
            $(document).ready(function() {
                function addOption(href) {
                    $.post(href, $.nette.success);
                }
            });
        </script>
        {control formItem}
    </div>
</div>


<div class="span6">


    <div class="container-fluid">
        <a style="font-weight:normal;" class="btn" href="{plink default id=>null}"><i class="icon-arrow-left"></i> späť</a>
        <h2 class="page-header">
            Nastavenie formuláru
        </h2>
        {control editSettingForm}
    </div>

</div>
