# enable cool URL
<IfModule mod_rewrite.c>
	RewriteEngine On
#	RewriteBase /

    RewriteCond %{HTTP_HOST} ^abcvyskoveprace\.sk$
    RewriteRule ^(.*)$ https://www.abcvyskoveprace.sk/$1 [R=301,L]


#    RewriteCond ^http://www.abcvyskoveprace\.sk$
#    RewriteRule ^(.*)$ https://www.abcvyskoveprace.sk/$1 [R=301,L]

#    RewriteCond %{HTTPS} !off
#    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


	# prevents files starting with dot to be viewed by browser
	RewriteRule /\.|^\. - [F]

    RewriteCond %{REQUEST_URI} ^/img/(.*)\.(jpg|png|gif)$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule (.*) /index.php [L]

	# front controller
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule !\.(pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz|map)$ index.php [L]
</IfModule>

# enable gzip compression
<IfModule mod_deflate.c>
	<IfModule mod_filter.c>
		AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript application/json application/xml image/svg+xml
	</IfModule>
</IfModule>
